<div class="bg-secondary py-1">
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a th:href="@{'/reports'}" class="nav-link px-2 text-white">Reports</a>
    </li>
    <li>
      <a th:href="@{'/meetings'}" class="nav-link px-2 text-white">Meetings</a>
    </li>
    <li>
      <a th:href="@{'/reports/add-report'}" class="nav-link px-2 text-white">Add Report</a>
    </li>
    <li>
      <a th:href="@{'/meeting/add-form'}" class="nav-link px-2 text-white">Create Meeting</a>
    </li>
  </ul>
</div>