<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}">
<head>
    <title>Предмети за распоред</title>
</head>
<body>
<div class="mt-4" layout:fragment="content">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Import joined subjects
                </div>
                <div class="card-body">
                    <form th:action="@{/admin/joined-subjects/import}" method="post"
                          enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <label class="col-3 col-form-label" for="semester">Semester:</label>
                                    <div class="col-9">
                                        <select class="form-control" id="semester" name="semester" required>
                                            <option value="" disabled>Select semester</option>
                                            <option th:each=" s : ${semesters}" th:value="${s.code}"
                                                    th:text="${s.code}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mt-1">
                                    <input class="form-control" type="file" name="file" id="file" required>
                                </div>
                            </div>
                            <div class="col-12 text-end">
                                <button class="btn  btn-primary mt-2 mb-2" type="submit">Import</button>
                                <a th:href="@{/admin/joined-subjects/sample-tsv}"
                                   class="btn  btn-secondary mt-2 mb-2">Template</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <h1>Листа на предмети за распоред</h1>
        <a class="btn btn-success ml-2" href="/admin/joined-subjects/add">Add
            New</a>
        <a class="btn btn-outline-primary ml-4" href="/active-subjects">Активни предмети</a>
    </div>

    <form th:action="@{/admin/joined-subjects}" method="get" class="pb-3">
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control"
                       placeholder="Филтрирај по име на предмет"
                       name="name"
                       th:value="${param.name}">
            </div>
            <div class="col-md-2">
                <select class="form-control select2" name="mainSubject">
                    <option value="" th:selected="${param.mainSubject==null}">Филтрирање по предмет</option>
                    <option th:each="subject : ${subjects}"
                            th:value="${subject.id}"
                            th:text="${subject.name + ' (' + subject.id + ')'}"
                            th:selected="${param.mainSubject!=null && subject.id == param.mainSubject[0]}"></option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control select2" name="semesterType">
                    <option value="" th:selected="${param.semesterType==null}">Филтрирање по семестар</option>
                    <option th:each="semester : ${T(mk.ukim.finki.wp.fcseservices.model.SemesterType).values()}"
                            th:value="${semester}"
                            th:text="${semester}"
                            th:selected="${param.semesterType!=null && semester.name() == param.semesterType[0]}"></option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="date" name="modifiedAfter"
                       class="form-control"
                       placeholder="Модифицирани по датум"
                       th:value="${param.modifiedAfter}">
            </div>
            <div class="col-md-1">
                <input type="checkbox" name="export" value="true"/> Export
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Филтрирај</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Кодови на предмети</th>
            <th>Семестар</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">
                Последно модифициран
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${page.getContent()}">
            <td th:text="${subject?.displayName()}"></td>
            <td>
                <span th:each="code : ${subject.codesList()}">
                   <a th:text="${code}"
                      target="_blank"
                      th:href="@{__${subjectDetailsPath}__/{code}(code=${code.trim()})}"></a>;
                </span>
            </td>
            <td th:text="${subject.semesterType}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <span th:text="${subject.lastUpdateUser}"></span>
                <span th:if="${subject.lastUpdateTime!=null}">
                    @
                    <span th:text="${subject.lastUpdateTime?.toString()}"></span>
                </span>
            </td>
            <td>
                <a class="btn btn-sm btn-warning" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/admin/joined-subjects/edit-id/{abbreviation}(abbreviation=${subject.abbreviation})}">Edit
                    ID</a>
                <a class="btn btn-sm btn-primary"
                   th:href="@{/admin/joined-subjects/edit/{abbreviation}(abbreviation=${subject.abbreviation})}">Edit</a>
                <a class="btn btn-sm btn-info" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/admin/joined-subjects/display/{abbreviation}(abbreviation=${subject.abbreviation})}">
                    Details</a>
                <a class="btn btn-sm btn-success" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/admin/subject-teacher-allocation/{abbreviation}(abbreviation=${subject.abbreviation})}">
                    Teachers</a>
                <a class="btn btn-sm btn-success" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/admin/course-preferences/edit/{id}(id=${subject.abbreviation})}">Preferences</a>
                <a class="btn btn-sm btn-danger" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/admin/joined-subjects/delete/{abbreviation}(abbreviation=${subject.abbreviation})}"
                   onclick="return confirm('Are you sure you want to delete this joined subject?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:include="fragments/paging :: pageSection(${page})"></div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        // Initialize Select2 for the dropdowns
        $('.select2').select2();
    });
</script>
</body>
</html>
