<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<header class="p-3 text-bg-dark" th:fragment="header">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                    <img src="/io.png" style="width: 25px"/>
                    <span class="ms-2">ФИНКИ Сервиси</span>
                </a>
            </div>

            <div class="text-end">
                <th:block sec:authorize="isAuthenticated()">
                    <span class="text-white me-2" sec:authentication="name"></span>
                </th:block>
            </div>
        </div>
    </div>
</header>
</body>
</html>
