<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Акредитации</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4 mb-4">
        <h1>ФИНКИ Сервиси</h1>
        <div class="mt-3">
            <a href="/admin/accreditations" class="btn btn-lg btn-success me-3">
                Акредитации
            </a>
            <a href="/dosie" class="btn btn-lg btn-success me-3">
                Досие
            </a>
            <a href="/projects" class="btn btn-lg btn-success">
                Проекти
            </a>
        </div>
    </div>
</div>
</body>
</html>
