<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Scientific Projects</title>
</head>
<body>
<div layout:fragment="subheader" th:include="projects/subheader"></div>
<div class="mt-4" layout:fragment="content">
    <div class="container mt-4">
        <form th:action="@{/scientific-projects}" th:method="GET">
            <div class="row g-3 align-items-end">
                <div class="col-md-6 form-group">
                    <label for="name" class="form-label">Search by project name</label>
                    <input type="text" th:value="${name}" name="name" class="form-control" id="name"
                           placeholder="Enter project name">
                </div>

                <div class="col-md-6 form-group">
                    <label for="professorName" class="form-label">Search by professor name</label>
                    <input type="text" th:value="${professorName}" name="professorName" class="form-control" id="professorName"
                           placeholder="Enter professor name">
                </div>

                <div class="col-md-6 form-group">
                    <label for="scientificProjectCallName" class="form-label">Search by project call name</label>
                    <input type="text" th:value="${scientificProjectCallName}" name="scientificProjectCallName" class="form-control" id="scientificProjectCallName"
                           placeholder="Enter project call name">
                </div>

                <div class="col-md-6 form-group">
                    <label for="programmeName" class="form-label">Search by programme name</label>
                    <input type="text" th:value="${programmeName}" name="programmeName" class="form-control" id="programmeName"
                           placeholder="Enter programme name">
                </div>

                <div class="col-md-6 form-group">
                    <label for="grantHolderName" class="form-label">Search by grant holder name</label>
                    <input type="text" th:value="${grantHolderName}" name="grantHolderName" class="form-control" id="grantHolderName"
                           placeholder="Enter grant holder name">
                </div>

                <div class="col-md-3 form-group">
                    <label for="status" class="form-label">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="">All</option>
                        <option th:each="status : ${statuses}"
                                th:value="${status}"
                                th:text="${status.name()}"
                                th:selected="${status != null && status.name() == projectstatus}">
                        </option>
                    </select>
                </div>

                <div class="col-md-3 form-group">
                    <label for="international" class="form-label">International</label>
                    <select name="international" id="international" class="form-control">
                        <option value="">All</option>
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>

                <div class="col-12 mb-1">
                    <button class="btn btn-primary w-100" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div>
             <!--ProjectsHomeController.showAdd -->
            <a href="/projects/add" class="add-item">
                Add new scientific project
            </a>
        </div>
        <table>
            <tr>
                <th>Project Name</th>
                <th>Professor Name</th>
                <th>Project Call Name</th>
                <th>Programme Name</th>
                <th>Grant Holder Name</th>
                <th>Status</th>
                <th>International</th>
            </tr>
            <!-- For each project you should have one <tr> like below -->
            <tr class="item" th:each="project : ${page.getContent()}">
                <td th:text="${project.name}">[project.name]</td>
                <td th:text="${project.coordinator.name}">[project.coordinator.name]</td>
                <td th:text="${project.projectCall.name}">[project.projectCall.name]</td>
                <td th:text="${project.programme.name}">[project.programme.name]</td>
                <td th:text="${project.programme.grantHolder.name}">[project.programme.grantHolder.name]</td>
                <td th:text="${project.status}">[project.status]</td>
                <td th:text="${project.programme.international}">[project.programme.international]</td>
                <td>
                    <!-- ProjectsHomeController.delete -->
                    <form th:action="@{'/projects/delete/{id}' (id=${project.getId()})}" th:method="POST">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- ProjectsHomeController.showEdit -->
                    <a class="edit-item" th:href="@{'/projects/edit/{id}' (id=${project.getId()})}">Edit</a>
                </td>
            </tr>
        </table>
        <div th:include="fragments/paging :: pageSection(${page})"></div>
    </div>
</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
