<div class="bg-secondary py-1">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/projects" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/scientific-projects" class="nav-link px-2 text-white">All Projects</a></li>
        <li><a href="/scientific-project-call" class="nav-link px-2 text-white">Scientific project call</a></li>
        <!--<li><a class="nav-link px-2 text-white">Add nav links here ... </a></li>-->
    </ul>
</div>