<div class="bg-secondary py-1">
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/admin/accreditations" class="nav-link px-2 text-white" th:text="#{ACCREDITATIONS}"></a></li>
    <li><a href="/admin/study-programs" class="nav-link px-2 text-white" th:text="#{STUDY_PROGRAMS}"></a></li>
    <li><a href="/admin/professor" class="nav-link px-2 text-white" th:text="#{PROFESSORS}"></a></li>
    <li><a href="/admin/subject/list" class="nav-link px-2 text-white">Предмети</a></li>
    <li><a href="/admin/professor/professor-stats" class="nav-link px-2 text-white">Статистика за професори</a></li>
    <li><a href="/admin/subject/statistics" class="nav-link px-2 text-white">Статистика за предмети</a></li>
    <li><a href="/admin/rooms" class="nav-link px-2 text-white">Простории</a></li>
    <li><a href="/staff" class="nav-link px-2 text-white">Кадар (Ј)</a></li>
    <li><a href="/admin/user" class="nav-link px-2 text-white">Корисници</a></li>
  </ul>
</div>